<div class="container dashboard">
    <div class="row mb-2 g-3">
        <div class="col-md-4">
            <div class="card shadow-effect">
                <div class="card-body text-center bg-secondary-theme cursor-pointer" routerLink="/admin/forms">
                    <h1><fa-icon [icon]="faMessage" ngClass="text-primary-theme"></fa-icon></h1>
                    <h2 class="text-primary-theme">Forms</h2>
                    <p>Manage Your Form Details Here</p>
                </div>
            </div>
        </div>
    </div>
</div>
