<div class="container">
  <div class="row mb-2 gy-2">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-primary-theme">ALL FORMS</h3>
          <p>From here you can manage your forms.</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <h4 class="text-center mb-2">FORM LIST</h4>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th width="5%">#</th>
                  <th width="15%">Name</th>
                  <th width="5%">Is Married?</th>
                  <th width="5%">Occupation / Detail</th>
                  <th width="10%">MobileNo</th>
                  <th width="10%">DOB</th>
                  <th width="3%">Age</th>
                  <th width="5%">Area</th>
                  <th width="20%">Address</th>
                  <th width="20%">Last Modified At</th>
                  <th width="5%">Members</th>
                  <th width="10%">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="contacts$ | async as contacts; else loading">
                <ng-container *ngIf="contacts.length; else noItems">
                  <ng-container *ngFor="let contact of contacts; index as i">
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td>{{ contact.data.name }}</td>
                      <td>{{ contact.data.isMarried }}</td>
                      <td>{{ contact.data.occupation }} {{ contact.data.occupationDetail ? ' - '+ contact.data.occupationDetail : '' }}</td>
                      <td>{{ contact.data.mobileNo }}</td>
                      <td>{{ contact.data.dob }}</td>
                      <td>{{ contact.data.age }}</td>
                      <td>{{ contact.data.area }}</td>
                      <td>{{ contact.data.address }}</td>
                      <td>{{ contact.data.createdAtDateTime }}</td>
                      <td>
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-sm btn-outline-success" disabled>
                            {{ contact.data.family.length }}
                          </button>
                          <button type="button" [ngClass]="['btn btn-sm',contact.isCollapsed ? 'btn-danger': 'btn-success']" [disabled]="!contact.data.family.length"
                            (click)="contact.isCollapsed = !contact.isCollapsed">
                            {{ contact.isCollapsed ? "Hide" : "View" }}
                          </button>
                        </div>
                      </td>
                      <td>
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-sm btn-outline-success"
                            [routerLink]="['/admin/forms/', contact.id]">
                            Edit
                          </button>
                          <button type="button" class="btn btn-sm btn-outline-danger" (click)="onDelete(contact.id)">
                            Delete
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="contact.isCollapsed">
                      <td colspan="12">
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>IsMarried?</th>
                              <th>Relation</th>
                              <th>Occupation/Detail</th>
                              <th>DOB</th>
                              <th>Age</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let person of contact.data.family;index as i">
                                <td>{{ i + 1 }}</td>
                                <td>{{ person.name }}</td>
                                <td>{{ person.isMarried }}</td>
                                <td>{{ person.relationWithMainPerson }}</td>
                                <td>{{ person.occupation }} {{ person.occupationDetail ? ' - '+ person.occupationDetail : '' }}</td>
                                <td>{{ person.dob }}</td>
                                <td>{{ person.age }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
                <ng-template #noItems>
                  <tr>
                    <td colspan="12" class="text-center">
                      No records found :(
                    </td>
                  </tr>
                </ng-template>
              </tbody>
              <ng-template #loading>
                <div class="spinner-border" role="status"></div>
              </ng-template>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
