.card {
  max-width: 420px;
}
.card-body > h5 {
  max-width: 420px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-body > p {
  max-width: 420px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-img-top {
  width: 100%;
  min-height: 280px;
  max-height: 280px;
  object-fit: contain;
}
.post-card {
  cursor: pointer;
}